@mixin SSmall{
  @media (min-width: map-get($grid-breakpoints, ssm)){
    @content
  }
}

@mixin Small{
  @media (min-width: map-get($grid-breakpoints, sm)){
      @content;
  }
}
@mixin Medium{
  @media (min-width: map-get($grid-breakpoints, md) ){
      @content;
  }
}
@mixin Large{
  @media (min-width:  map-get($grid-breakpoints, lg) ){
      @content;
  }
}
@mixin XLarge{
  @media (min-width:  map-get($grid-breakpoints, xl) ){
      @content;
  }
}

//flex 垂直排列且置中
@mixin flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin padding-vertical ($padingTop,$padingbottom){
  padding-top: $padingTop;
  padding-bottom: $padingbottom;
}